<!doctype html>
<html ng-app="team">
<head>
    <title>Teams</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="hello.js"></script>
</head>

<body>
<div ng-controller="data">
    <table width="20%" class="table" border="2">
        <thead>
        <tr>
            <th ng-repeat="(header, value) in team[0]">{{header}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in team">
            <td align="center" ng-repeat="cell in row">{{cell}}</td>
        </tr>
    </table>
</div>
</body>
</html>